<div class="row">   
    <div class="col-md-12">
        <div class="row">
        <h6>{{author}}</h6>
        <p>{{post}}</p>
         <button class="reply" data-toggle="modal" data-target="#replymodal" data-parentId={{id}} data-postId={{postId}} data-location={{location}}>reply</button>
        </div>
        {{!-- calls itsef  --}}
        {{#if children}}
            {{#each children}}
            {{> commentlist}}
            {{/each}}
            {{/if}}
    </div>


</div>